/* COMMON CSS STARTS HERE */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans&family=Ubuntu:wght@300;400;500&display=swap');

:root {
    --mainfont: 'Ubuntu', sans-serif;
    --secondaryfont: 'Abril Fatface', cursive;
    --thirdfont: 'Open Sans', sans-serif;
    --primarycolor: #0f2f44;
    --secondarycolor: #ffc712;
    --thirdcolor: #8484bf;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

body {
    font-family: var(--mainfont);
}

/* COMMON CSS ENDS HERE */

/* HEADER STARTS HERE */
header {
    background-color: var(--primarycolor);
    color: white;
    padding: 20px 0px;
}

header .welcome {
    width: 50%;
}

header .opening {
    width: 50%;
    text-align: right;
}

/* HEADER ENDS HERE */

/* NAV BAR STARTS HERE */
nav .logo {
    width: 40%;
}

nav .menu {
    width: 60%;
    text-align: right;
}

nav .menu li {
    display: inline-block;
}

nav .menu li a {
    font-size: 16px;
    color: var(--primarycolor);
    font-weight: 500;
    padding: 40px 15px;
    display: block;
    transition: 0.3s all linear;
}

nav .menu li:hover>a {
    color: var(--secondarycolor);
    background-color: #fff9e6;
}

nav .menu .x {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #ccc;
}

nav .menu .search {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #ccc;
    margin: 10px;
}

nav .menu .submenu {
    position: absolute;
    width: 200px;
    text-align: left;
    border: 1px solid #bbb;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s all linear;
    margin-left: 100px;
}

nav .menu .submenu li {
    display: block;
    border-bottom: 1px solid #bbb;
}

nav .menu .submenu a {
    padding: 15px 20px;
}

nav .menu li:hover>.submenu {
    visibility: visible;
    opacity: 1;
    margin-left: 0px;
    background-color: rgb(250, 253, 73);
}
nav .menu .submenu li:hover>a{
    background-color: rgb(21, 9, 90);
}

nav .menu .submenu .blog {
    width: 200px;
    text-align: left;
    border: 1px solid #bbb;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s all linear;
    left: 200%;
    position: absolute;
}

nav .menu .submenu .blog li {
    display: block;
    border-bottom: 1px solid #bbb;
}

nav .menu .submenu .blog a {
    padding: 15px 20px;
}

nav .menu .submenu li:hover>.blog {
    visibility: visible;
    opacity: 1;
    background-color: rgb(47, 7, 250);
    left: 100%;
}
nav .menu .submenu .blog li:hover>a{
    background-color: rgb(255, 0, 0);
}

/* NAV BAR ENDS HERE */
